<app-card
	*ngFor="let card of cards$ | async; let i = index"
	[card]="card"
	(deleteCardEvent)="removeCard(i)"
>
	<ng-container [ngSwitch]="card.type">
		<ng-container *ngSwitchCase="'Performance'">
			<app-status-card [card]="card"></app-status-card>
		</ng-container>
		<ng-container *ngSwitchCase="'Status Report'">
			<app-status-card [card]="card"></app-status-card>
		</ng-container>
		<ng-container *ngSwitchCase="'Printer Actions'">
			<app-action-card
				[card]="card"
				(action)="onCardAction($event, card)"
			></app-action-card>
		</ng-container>
		<ng-container *ngSwitchCase="'Job Actions'">
			<app-action-card
				[card]="card"
				(action)="onCardAction($event, card)"
			></app-action-card>
		</ng-container>
	</ng-container>

	<!-- <ng-container
		*ngIf="card.type === 'Job Actions' || card.type === 'Printer Actions'"
	>
		<app-action-card
			[card]="card"
			(action)="onCardAction($event, card)"
		></app-action-card>
	</ng-container>
	<ng-container
		*ngIf="card.type === 'Performance' || card.type === 'Status Report'"
	>
		<app-status-card [card]="card"></app-status-card>
	</ng-container> -->
</app-card>
