<div class="container">
    <mat-toolbar color="primary" class="toolbar" [class.is-mobile]="media.isActive('xs')">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h2>Welcome to Genghis</h2>
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav [mode]="media.isActive('xs') ? 'over' : 'side'" [fixedInViewport]="media.isActive('xs')" fixedTopGap="56">
            <navigation-menu></navigation-menu>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>