<p-card [ngStyle]="{ width: '50%' }">
	<div class="login-form">
		<div class="header">
			<div>Welcome back, Mongol!</div>
		</div>
		<form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
			<div class="field p-fluid">
				<label for="email">Email</label>
				<input
					id="email"
					type="text"
					pInputText
					placeholder="Email"
					aria-label="Email"
					formControlName="email"
				/>
				<small
					id="email-required-error"
					class="p-error"
					*ngIf="
						loginForm.get('email')?.dirty &&
						loginForm.get('email')?.hasError('required')
					"
				>
					E-mail is required.
				</small>
				<small
					id="email-invalid-error"
					class="p-error"
					*ngIf="
						loginForm.get('email')?.dirty &&
						loginForm.get('email')?.hasError('email')
					"
				>
					E-mail is not valid.
				</small>
			</div>
			<div class="field p-fluid">
				<label for="password">Password</label>
				<input
					id="password"
					type="password"
					pInputText
					placeholder="Password"
					aria-label="Password"
					formControlName="password"
				/>
				<small
					id="password-required-error"
					class="p-error"
					*ngIf="
						loginForm.get('password')?.dirty &&
						loginForm.get('password')?.hasError('required')
					"
				>
					Password is required.
				</small>
				<small
					id="password-invalid-error"
					class="p-error"
					*ngIf="
						loginForm.get('password')?.dirty &&
						loginForm.get('password')?.hasError('minlength')
					"
				>
					Password is at least 8 characters long.
				</small>
				<small
					id="password-invalid-error"
					class="p-error"
					*ngIf="
						loginForm.get('password')?.dirty &&
						loginForm.get('password')?.hasError('maxlength')
					"
				>
					Password cannot be longer than 50 characters.
				</small>
			</div>
			<div class="buttons">
				<div *ngIf="loginError">
					{{ loginError }}
				</div>
				<button pButton type="submit" [disabled]="loginForm.invalid">
					Login
				</button>
			</div>
		</form>
	</div>
</p-card>
