<div class="budget__value">+ {{getBudget()}}</div>

<div class="budget__income clearfix">
  <div class="budget__income--text">Income</div>
  <div class="right">
    <div class="budget__income--value">+ {{getTotalInc()}}</div>
    <div class="budget__income--percentage"> </div>
  </div>
</div>

<div class="budget__expenses clearfix">
  <div class="budget__expenses--text">Expenses</div>
  <div class="right clearfix">
    <div class="budget__expenses--value">- {{getTotalExp()}}</div>
    <div class="budget__expenses--percentage">{{getPercentage()}}%</div>
  </div>
</div>
