@use '@angular/material' as mat;
@include mat.core();

$genghis-theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$deep-purple-palette, 400),
			accent: mat.define-palette(mat.$amber-palette),
			warn: mat.define-palette(mat.$red-palette),
		),
		typography:
			mat.define-typography-config(
				$font-family: 'Inter',
			),
		density: 0,
	)
);

@include mat.all-component-themes($genghis-theme);
