<mat-card>
    <div class="card">
        <div class="card-header">
            <div class="rating">
                <star-rating [rating]="kahnCard.rating"></star-rating>
            </div>
            <div class="name">{{kahnCard.title}}</div>
            <div class="reviews">{{kahnCard.reviews}} review(s)</div>
        </div>
        <div class="card-content">
            <mat-tab-group>
                <mat-tab label="Details">
                    <div class="card-details-content">
                        <p>Name: {{kahnCard.name}}</p>
                        <p>Field of activity: {{kahnCard.foa}}</p>
                        <p>Profession: {{kahnCard.profession}}</p>
                        <p>Description: {{kahnCard.description}}</p>
                        <p>Address: {{kahnCard.address}}</p>
                        <p>County: {{kahnCard.county}}</p>
                        <p>Phone: {{kahnCard.phone}}</p>
                    </div>
                </mat-tab>
                <mat-tab label="Reviews"> Content 2 </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-card>
