:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		border-bottom: 1px solid #414141;
		padding: 0 24px;
	}
}
