<mat-table class="mat-elevation-z8" [dataSource]="dataSource()">
    @for (column of columns(); track column.key) {
        @if (column.isTemplate) {
            <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>
                    <span [matTooltip]="column.tooltipText || ''" [matTooltipPosition]="'above'">
                        {{ column.name }}
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-template [ngTemplateOutlet]="customTemplate()" [ngTemplateOutletContext]="{
                        element: element[column.key],
                        column: column
                    }"></ng-template>
                </mat-cell>
            </ng-container>
        } @else {
            <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>
                    <span [matTooltip]="column.tooltipText || ''" [matTooltipPosition]="'above'">
                        {{ column.name }}
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element[column.key] | function: column.pipeFn }}</mat-cell>
            </ng-container>
        }
    }
    <mat-header-row *matHeaderRowDef="columnsToDisplay(); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay();"></mat-row>

    <div *matNoDataRow class="no-data-row">No data.</div>
</mat-table>