:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;

    mat-table {
        min-width: 800px;
    }

    .no-data-row {
        padding: 0 24px;
        height: 52px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
    }

    mat-row.example-detail-row {
        flex-basis: 0;
        min-height: 0;
    }

    mat-row.example-element-row {
        @media screen and (max-width: 740px) {
            cursor: pointer;
            mat-cell {
                border-bottom-width: 0;
            }
        }
    }

    .example-element-detail {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}