<header>
    <h1>Quicklists</h1>
    <button (click)="checklistBeingEdited.set({})">Add Checklist</button>
</header>
<section>
    <h2>Your checklists</h2>
    <app-checklist-list [checklists]="checklistService.checklists()"/>
</section>

<app-modal [isOpen]="!!checklistBeingEdited()">
    <ng-template>
        <app-form-modal
                [title]="checklistBeingEdited()?.title ? checklistBeingEdited()!.title! : 'Add Checklist'"
                [formGroup]="checklistForm"
                (close)="checklistBeingEdited.set(null)"
                (save)="checklistService.add$.next(checklistForm.getRawValue())"
        />
    </ng-template>
</app-modal>