<div class="dropdown dropdown-rules">
  <span class="game-rules">GAME RULES</span>
  <div class="dropdown-content">
    <p>Welcome to Barbarosa, the dice game!</p>
    <p>The game has 2 players, playing in rounds.</p>
    <p>In each turn, a player rolls the dice as many times as he wishes as long as the roll is worth points. Each result gets added to his ROUND score.</p>
    <p>The player can choose to 'Hold', which means that his ROUND score gets added to his GLOBAL score. After that, it's the next player's turn.</p>
    <p>You have to get 100 points to enter the game and to be able to hold your score.</p>
    <p>There will be 2 challenges, 1 between 200 and 300 points and 1 between 700 and 800 points, where you will be able to hold your score only once.</p>
    <p>The first player to reach 1000 points exactly on GLOBAL score wins the game.</p>
    <p>Good luck!</p>
  </div>
</div>
<div class="dropdown dropdown-dice">
  <span class="game-rules">DICE COMBOS</span>
  <div class="dropdown-content">
    <p>
      1 - 10 points<br>
      5 - 5 points<br>
      2, 3, 4, 6 - value only if 3 of a kind or more
    </p>
    <p>
      3 of a kind - 10x the dice value<br>
      4 of a kind - 20x the dice value<br>
      5 of a kind - 40x the dice value
    </p>
  </div>
</div>
