.star {
	color: #a9a5a5;
    cursor: default;
}

.star-gold {
    color: orange;
}

.mat-icon {
	width: 16px;
	height: 16px;
    font-size: 16px;
}

.stars {
    display: flex;
    align-items: center;
}