<mat-card
	*ngIf="{
		jammer: connectionJammer$ | async,
		connection: connection$ | async
	} as vm"
>
	<ng-container *ngIf="vm.connection as connection">
		<div class="header">
			<span>{{ card.printer }}</span>
			<span [ngStyle]="{ display: 'flex', 'align-items': 'center' }">
				<span>{{ card.type }}</span>
				<button mat-icon-button color="accent" (click)="deleteCardEvent.emit()">
					<mat-icon>delete</mat-icon>
				</button>
			</span>
		</div>
		<div class="content" [ngClass]="{ jammed: !connection.ready }">
			<ng-content></ng-content>
		</div>
		<div class="footer">
			<ng-container *ngIf="!connection.ready">
				<span class="error">{{ connection.message }}</span>
				<button mat-icon-button color="accent" (click)="refreshConnection()">
					<mat-icon>refresh</mat-icon>
				</button>
			</ng-container>
		</div>
	</ng-container>
</mat-card>
