<div class='filter'>
    <form [formGroup]='filterForm'>
        <mat-form-field class='form-field'>
            <mat-label>County</mat-label>
            <mat-select formControlName='county'>
                <mat-option *ngFor='let county of counties$ | async' [value]='county.auto'>{{county.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='form-field'>
            <mat-label>Field of activity</mat-label>
            <mat-select formControlName='foa'>
                <mat-option *ngFor='let option of foaOptions' [value]='option'>{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='form-field'>
            <mat-label>Filter</mat-label>
            <input formControlName='search' matInput />
        </mat-form-field>
        <button (click)='onSearchClick()' mat-button type='button'>Search</button>
    </form>
</div>
