<div class="top">
  <div class="budget">
    <div class="budget__title">
      Available Budget in <span class="budget__title--month">{{displayMonth()}}</span>:
    </div>

    <budget [budget]="budget"></budget>

  </div>
</div>

<div class="bottom">

  <div (keypress)="keyPress($event)" class="add">
    <div class="add__container">
      <select class="add__type" name="type" [(ngModel)]="type">
        <option selected value="inc">+</option>
        <option value="exp">-</option>
      </select>
      <input class="add__description" placeholder="Add description" type="text" name="description" [(ngModel)]="description">
      <input class="add__value" placeholder="Value" type="number" name="value" [(ngModel)]="value">
      <button (click)="addItem()" class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
    </div>
  </div>

  <div class="container clearfix">

    <income [incomesArr]="budget.incomes"></income>

    <expense [expensesArr]="budget.expenses"></expense>

  </div>
</div>


<router-outlet></router-outlet>
