@if (checklist(); as checklist) {
    <app-checklist-header
            [checklist]="checklist"
            (addItem)="checklistItemBeingEdited.set({})"
            (resetChecklist)="checklistItemService.reset$.next($event)"
    />
    <app-checklist-item-list
            [checklistItems]="items()"
            (toggle)="checklistItemService.toggle$.next($event)"
            (delete)="checklistItemService.delete$.next($event)"
            (edit)="checklistItemBeingEdited.set($event)"
    />
    <app-modal [isOpen]="!!checklistItemBeingEdited()">
        <ng-template>
            <app-form-modal
                title="Create item"
                [formGroup]="checklistItemForm"
                (save)="checklistItemBeingEdited()?.id
                ? checklistItemService.edit$.next({
                    id: checklistItemBeingEdited()!.id!,
                    data: checklistItemForm.getRawValue()
                })
                : checklistItemService.add$.next({
                    item: checklistItemForm.getRawValue(),
                    checklistId: checklist.id
                })"
                (close)="checklistItemBeingEdited.set(null)"
            />
        </ng-template>
    </app-modal>
}